//main: style.less 

.menu_span() {
    display: block;
    height: 0.3em;
    background-color: @blue_3;
}

.btn() {
    .Gilroy(@mainColor);
    letter-spacing: 0.04em;
    padding: 1em 2em;
    background-color: @blue_4;
    box-shadow: 5px 10px 20px fade(@blue_3, 20%);
    .text();
    text-align: center;
    border-radius: @radius;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: darken( @blue_4, 10% );
    }
}

.text() {
    font-size: 16px;
    line-height: 26px;

    @media @breakpoint-tab {
        font-size: 14px;
        line-height: 20px;
    }

    @media @breakpoint-sm {
        font-size: 20px;
        line-height: 30px;
    }
}

.title() {
    font-size: 36px;
    line-height: 46px;

    @media @breakpoint-mb {
        font-size: 20px;
        line-height: 36px;
    }

    @media @breakpoint-sm {
        font-size: 50px;
        line-height: 60px;
    }
}

.Gilroy(@color) {
    color: @color;
    font-family: Gilroy;
    letter-spacing: 0.05em;
}

.grid(@columns, @rows, @i: 1) when (@i <= @columns*@rows) {
        
    &:nth-child(@{i}) {
        grid-row: ceil((@i/@columns));
        grid-column: if( mod(@i, @columns) = 0, 4, mod(@i, @columns) ); 
    }

    .grid(@columns, @rows, @i+1);
}

.item(@text) {
    content: @text;
    font-weight: bold;
    margin-right: 1rem;
}