//main: style.less
@font-face {
    font-family: 'Galien';
    src: url(../res/fonts/Galien-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Galien';
    src: url(../res/fonts/Galien-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../res/fonts/gilroy-regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../res/fonts/gilroy-bold.ttf);
    font-weight: bold;
}

@mainColor: #fff;
@blue_1: #1F3F68;
@blue_2: #316099;
@blue_3: #356EAD;
@blue_4: #5A98D0;
@blue_5: #98c3e8;
@blueShadow : #1070b1;
@radius: 10px;