@use 'colors';
@use 'fonts';
@use 'mixins';

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(colors.$blue_01, 0.4);

  &_active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_nonactive {
    display: none;
  }

  &__window {
    @media ( min-width: 1000px ) {
      margin: 15vh 15vw;
      padding: 5vh 5vw;
    }
    display: flex;
    flex-direction: column;
    margin: 3vh 3vw;
    padding: 3vh 3vw;
    border-radius: 2.25rem;
    background: colors.$white;
    gap: 2em;

    &--title {
      @media ( min-width: 1000px ) {
        font-size: 1.25rem;
      }
      font: fonts.$titleFont;
      line-height: 30px;
      color: colors.$blue_01;
      text-transform: uppercase;
      margin-bottom: 1em;
    }

    &--lable {
      @include mixins.description(rgba(colors.$blue_01, 0.8));
    }

    &--input {
      @include mixins.description(rgba(colors.$blue_01, 0.8));
      box-sizing: border-box;
      width: 100%;
      margin-top: 0.5em;
      padding: 1vh 1.5vw;
      resize: none;
      border: 3px solid colors.$blue_03;
      border-radius: 0.5em;

      &::placeholder {
        color: reba(colors.$blue_01, 0.2);
      }
    }

    &--btn {
      @include mixins.button;
      text-transform: uppercase;
      margin-top: 3vh;
    }
  }
}