section.our-client
  h2.our-client__title Our Beloved Client
  p.our-client__description.
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Similique a vel sit, numquam nulla ullam rem rerum facere nisi
    ex molestias in ea distinctio sequi accusamus omnis harum
    consectetur tempore.
  ul.our-client__list
    li.our-client__list--element Logo client 1
    li.our-client__list--element Logo client 2
    li.our-client__list--element Logo client 3
    li.our-client__list--element Logo client 4
    li.our-client__list--element Logo client 5
    li.our-client__list--element Logo client 6
    li.our-client__list--element Logo client 7
    li.our-client__list--element More Client
