section.what-we-do
  h2.what-we-do__title What we do to help our client grow in digital era
  .what-we-do__card
    img.what-we-do__card--image(src=require("../../res/technology.svg"))
    h3.what-we-do__card--title Bring Technology To Your Comfrotable Home
    p.what-we-do__card--description.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Perferendis quam iure quod iste beatae reprehenderit perspiciatis
      pariatur, sunt ducimus sapiente neque voluptate, autem suscipit
      harum veniam, eum accusantium numquam minus.
    a.what-we-do__card--link(href="#") Learn more
  .what-we-do__card
    img.what-we-do__card--image(src=require("../../res/business.svg"))
    h3.what-we-do__card--title Make Your business To Be Better Famous In Internet
    p.what-we-do__card--description.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Perferendis quam iure quod iste beatae reprehenderit perspiciatis
      pariatur, sunt ducimus sapiente neque voluptate, autem suscipit
      harum veniam, eum accusantium numquam minus.
    a.what-we-do__card--link(href="#") Learn more
  .what-we-do__card
    img.what-we-do__card--image(src=require("../../res/build.svg"))
    h3.what-we-do__card--title Build Your Digital Product That Suitable For Your Need
    p.what-we-do__card--description.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Perferendis quam iure quod iste beatae reprehenderit perspiciatis
      pariatur, sunt ducimus sapiente neque voluptate, autem suscipit
      harum veniam, eum accusantium numquam minus.
    a.what-we-do__card--link(href="#") Learn more