footer.footer
  .footer__lets-tolk
    div
      h2.footer__lets-tolk--title Intersted to woek with our team?
      .footer__lets-tolk--description.
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Expedita, perspiciatis repellendus. Quas ipsa commodi
        reiciendis, tempora iste ipsam quidem! Ex cupiditate
        eius itaque dolor, et similique amet. Modi, velit doloremque.
    button.footer__lets-tolk--button Let’s Talk
  .footer__bar

    ul.footer__bar--list
      .footer__bar--head
        img.footer__bar--head-logo(src=require("/src/res/footer_logo.svg"))
        h3.footer__bar--head-title Afrianska
      li(class=['footer__bar--list-element', 'afrianska']) Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      li(class=['footer__bar--list-element', 'phone'])
        a(href="tel:+6281273134321") +62-812-7313-4321
      li(class=['footer__bar--list-element', 'email'])
        a(href="mailto:hello.afrian@gmail.com") hello.afrian@gmail.com
    ul.footer__bar--list
      h4.footer__bar--list-title About US
      li.footer__bar--list-element About
      li.footer__bar--list-element What We Do
      li.footer__bar--list-element Project
      li.footer__bar--list-element How It Work With Us
    ul.footer__bar--list
      h4.footer__bar--list-title Follow US
      li.footer__bar--list-element Instagram
      li.footer__bar--list-element Facebook
      li.footer__bar--list-element LinkedIn
      li.footer__bar--list-element Youtube
    p.footer__signature 2019 © Afrianska. All rights reserved.