// main: ../style.less  
.footer {
    background: @blue_4;
    border-radius: @radius*20 0 0 0;

    @media @breakpoint-mb {
        border-radius: @radius*10 0 0 0;
    }
}

@import 'our-client';
@import 'info';