// main: ../style.less  

.intro {
    background: linear-gradient(0deg, fade(@blue_5, 20%) 8.84%, fade(@blue_5, 0%) 31.12%);
    position: relative;
    width: 100vw;
    height: 100vh;

    @media @breakpoint-tab {
        background-color: fade(@mainColor, 30%);
        height: 115vh;
    }

    &__img{
        position: absolute;
        right: 5vw;
        top: 10vh;
        z-index: -1;

        @media @breakpoint-tab {
            width: 40vw;
            top: 15vh;
        }

        @media @breakpoint-mb {
            width: 70vw;
            top: 15vh;
        }
    }

    &__navigation {
        display: flex;
        padding: 2em 5em;
        justify-content: space-between;

        &--menu {
            width: 2em;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0.5em 0;

            span {
                .menu_span()
            }

            &::after {
                content: '';
                .menu_span()
            }

            &::before {
                content: '';
                .menu_span()
            }
        }

        @media @breakpoint-mb {
            padding: 1em;
        }
    }

    &__content {
        padding-top: 5vw;
        padding-left: 10vw;
        padding-right: 30vw;
        .Gilroy(@blue_1);

        @media @breakpoint-tab {
            padding: 0 10vw;;
        }
        
        @media @breakpoint-mb {
            padding: 5vw 10vw;;
        }

        &--title {
            font-family: Galien;
            font-size: 64px;
            font-weight: bold;
            margin-bottom: 0.5em;
            line-height: 74px;
            letter-spacing: 0.04em;

            @media @breakpoint-tab {
                font-size: 45px;
                line-height: 45px;
            }

            @media @breakpoint-mb {
                font-size: 34px;
                line-height: 39px;
            }
        }

        &--text {
            padding-right: 10vw;
            margin-bottom: 6vh;
            opacity: 0.6;
            .text();
        }

        &--btn {
            .btn()
        }
    }
}