// main: ../style.less  

.our-client {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 6vh 14vw;
    .Gilroy(@mainColor);

    &__title {
        font-weight: bold;
        width: 15rem;
        .title();
    }

    &__text {
        margin-left: 7rem;
        width: 50%;
        opacity: 0.6;
        .text();

        @media @breakpoint-tab {
            margin: 1vw;
            width: 100%;
        }
    }

    &__logos {
        display: grid;
        grid-template: repeat(2, 4rem) / repeat(4, 10rem);
        text-align: center;
        margin: 3rem;

        @media @breakpoint-tab {
            grid-template: repeat(2, 3.5rem) / repeat(4, 8rem);
        }
        @media @breakpoint-mb {
            grid-template: repeat(2, 4rem) / repeat(4, 5rem);
        }
    }
}
.our-client__logos--elems {
    height: 100%;
    border: 1px solid fade(@mainColor, 40%);
    border-left-width: 0;
    border-top-width: 0;
    .grid(4, 2);

    .elem__logo{
        padding: 15% 0;
    }

    &:nth-child(4n) {
        border-right-width: 0;
    }

    &:nth-child(n+5){
        border-bottom-width: 0;
    }

    .more {
        background: fade(@blue_1, 20%);
    }
}